language: android

env:
  global:
    - BUILD_API=29
    - BUILD_TOOLS=29.0.3
    - ANDROID_HOME=/usr/local/android-sdk
    - TOOLS=${ANDROID_HOME}/tools
    # PATH order is important, the 'emulator' script exists in more than one place
    - PATH=${ANDROID_HOME}:${ANDROID_HOME}/emulator:${TOOLS}:${TOOLS}/bin:${ANDROID_HOME}/platform-tools:${PATH}

android:
  components:
    - tools

licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'

before_install:
  - sudo wget "https://bouncycastle.org/download/bcprov-ext-jdk15on-160.jar" -O "${JAVA_HOME}/jre/lib/ext/bcprov-ext-jdk15on-160.jar"
  - sudo echo "security.provider.11=org.bouncycastle.jce.provider.BouncyCastleProvider" | sudo tee -a ${JAVA_HOME}/jre/lib/security/java.security

before_script:
  # Install Android SDK
  - echo 'count=0' > /home/travis/.android/repositories.cfg # avoid harmless sdkmanager warning
  - echo y | sdkmanager "platform-tools" >/dev/null
  - echo y | sdkmanager "tools" >/dev/null
  - echo y | sdkmanager "build-tools;$BUILD_TOOLS" >/dev/null
  - echo y | sdkmanager "platforms;android-$BUILD_API" >/dev/null
  - echo y | sdkmanager "extras;android;m2repository" >/dev/null

script:
  - ./gradlew assembleRelease testReleaseUnitTest

before_deploy:
  - ./Tools/verifyTag.sh
  - ./gradlew assembleRelease generatePomFileForAarPublication

after_deploy:
  - ./Tools/triggerRondo.sh
  - version=`cat sdk-version.txt`; if [[ $version != *"beta"* ]]; then ./Tools/triggerRN.sh; fi; # trigger ReactNative if not beta release

deploy:
  - provider: script
    skip_cleanup: true
    script: ./gradlew artifactoryPublish bintrayUpload
    on:
      tags: true
