language: android
android:
  components:
    - tools
    - platform-tools
    - tools

    - build-tools-28.0.3

    # The SDK version used to compile your project
    - android-28

    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

jdk:
  - oraclejdk8

before_install:
  - sudo wget "https://bouncycastle.org/download/bcprov-ext-jdk15on-160.jar" -O "${JAVA_HOME}/jre/lib/ext/bcprov-ext-jdk15on-160.jar"
  - sudo echo "security.provider.11=org.bouncycastle.jce.provider.BouncyCastleProvider" | sudo tee -a ${JAVA_HOME}/jre/lib/security/java.security

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

  before_install:
    - java -v
    - which docker; echo

script:
  - make testSDK

after_success:
  - make releasePoms
  - curl -fL https://getcli.jfrog.io | sh ; mv jfrog $HOME/bin
  - export JFROG_CLI_OFFER_CONFIG=false

deploy:
  - provider: script
    skip_cleanup: true
    script: ./Tools/deploy.py
    on:
      tags: true
