language: android
android:
  components:
    - tools
    - platform-tools
    - tools

    # Build tools version
    - build-tools-28.0.3

    # The SDK version used to compile your project
    - android-28

    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

jdk:
  - oraclejdk8

# before_install:
  # - sudo wget "https://bouncycastle.org/download/bcprov-ext-jdk15on-160.jar" -O "${JAVA_HOME}/jre/lib/ext/bcprov-ext-jdk15on-160.jar"
  # - sudo echo "security.provider.11=org.bouncycastle.jce.provider.BouncyCastleProvider" | sudo tee -a ${JAVA_HOME}/jre/lib/security/java.security

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

    before_install:
    - java -v
    - which docker; echo

script:
  - make gradlewTravis