<manifest package="com.leanplum.fcm"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Leanplum FCM Message Handling Service. -->
        <service
            android:name="com.leanplum.LeanplumPushFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Leanplum FCM Registration Job Service. -->
        <service android:name="com.leanplum.LeanplumFcmRegistrationJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!-- Leanplum Push Notification Receiver for FCM. -->
        <receiver
            android:name="com.leanplum.LeanplumPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.leanplum.LeanplumPushFirebaseMessagingService"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
