<manifest package="com.leanplum.location"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="14"/>
    <!-- Permissions for geofencing. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>
        <!-- Geofencing Service -->
        <service android:name="com.leanplum.ReceiveTransitionsIntentService"/>
    </application>
</manifest>
