<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions for geofencing. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>
        <!-- Geofencing Service -->
        <service android:name="com.leanplum.ReceiveTransitionsIntentService"/>
    </application>
</manifest>
