<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.leanplum.monitoring">
    <application>
        <service   android:name="main.java.com.mindscapehq.android.raygun4android.RaygunPostService"
            android:exported="false"
            android:process=":raygunpostservice"/>
    </application>

</manifest>
